/*for the navigation bar*/
nav {
  text-align: left;
}

nav a {
  display: block;
  text-decoration: none;
  border-bottom: 3px dotted #bbb;
  padding: 20px 0;
  color: black;
}

nav a:hover {
  color: chocolate;
  border-color: chocolate;
}

/*for the links in the main section*/
#main a:link {
  color: goldenrod;
}
#main a:visited {
  color: #aaa;
}
#main a:hover {
  color: chocolate;
}
