/*for the navigation bar*/
nav {
  text-align: center;
}

nav a {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #bbb;
  padding: 15px 0px 3px 0px;
  color: black;
}

nav a:hover {
  color: goldenrod;
  border-color: goldenrod;
}

/*for the links in the main section*/
#main a:link {
  color: chocolate;
}
#main a:visited {
  color: #aaa;
}
#main a:hover {
  color: goldenrod;
}
