/*for the navigation bar*/
nav ul {
  padding: 0px;
  text-align: center;
}

nav li {
  list-style-type: none;
  display: inline;
}

nav a {
  padding: 3px 20px;
}

nav a:link {
  color: black;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: chocolate;
  text-decoration: none;
}

nav a:active {
  color: orange;
}

/*for the links in the main section*/
#main a:link {
  color: chocolate;
}
#main a:visited {
  color: #aaa;
}
#main a:hover {
  color: orange;
}
