body {
  font: large Calibri, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

#footer {
  padding: 2em 0;
  text-align: center;
  border-top: 1px solid skyblue;
  color: gray;
  line-height: 1.5em;
}

#footer a {
  text-decoration: none;
}

#nav {
  padding-top: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid skyblue;
}

#nav a {
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #30b6ed;
  margin-right: 10px;
}

#nav a:hover {
  color: white;
  background: #30b6ed;
}

p {
  line-height: 1.7em;
}

a:link, a:visited {
  color: #30b6ed;
}

a:hover {
  color: #0b9edb;
}

img {
  max-width: 100%;
}

#post-meta {
  color: #555;
}

#post-meta img {
  border-radius: 5px;
  vertical-align: middle;
  margin-right: 10px;
}

#post-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

#post-list li {
  border-bottom: 1px solid #eee;
  padding: .5em 0;
}

#post-list a {
  text-decoration: none;
}

#post-list a:hover {
  background: yellow;
  color: #30b6ed;
}

li {
  line-height: 1.7em;
}

blockquote {
  color: gray;
  margin-left: 20px;
  margin-right: 0;
}

blockquote p:before, blockquote p:after {
  content: '"';
}

th, td {
  border: 1px solid #ccc;
  padding: 3px;
}

table {
  border-collapse: collapse;
  display: block;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
}

th {
  background-color: #eef;
}
