body {
  font: 48px Verdana, sans-serif;
  color: black;
  background-color: #fcfcfc;
  margin: 0px;
}

header {
  padding: 0 5%;
  text-align: left;
}

header h1 {
  font-weight: normal;
  font-size: 1em;
}

header h2 {
  font-weight: normal;
  font-size: 1em;
  color: gray;
}

nav {
  padding: 0 5%;
}

#main {
  padding: 50px 5% 200px;
}

#main h1 {
  font-size: 2em;
  text-transform: capitalize;
  font-weight: normal;
  color: chocolate;
  margin-bottom: .5em;
}

#main time {
  color: gray;
  font-style: italic;
}

#main article {
  margin: 0px 0px 90px 0px;
}
footer {
  padding: 20px 5%;
  background-color: #eef;
  border-top: 1px solid #ccd;
}

p {
  line-height: 1.7em;
}
