body {
  font: medium Calibri, sans-serif;
}

#footer {
  padding: 3em 0;
  text-align: center;
  border-top: 3px solid #eee;
  color: gray;
  line-height: 1.5em;
}

#footer a {
  text-decoration: none;
}

#nav {
  padding-top: 2em;
  padding-bottom: 1em;
  color: goldenrod;
  border-bottom: 3px solid #eee;
}

#nav a {
  padding: 0 1em;
  text-decoration: none;
}

#nav a:first-child {
  padding-left: 0;
}

#nav a:hover {
  color: gold;
  text-decoration:blueviolet;
}
p {
  line-height: 1.5em;
}

a:hover {
  color: goldenrod;
}