/*for mobile phone*/
body {
	font: xx-large Verdana, sans-serif;
	color: black;
	background-color: #fcfcfc;
	margin: 0px;
}

header {
  padding: 3%;
}

#main {
  padding: 0px 3%;
}

#main h1 {
  font-size: 2em;
  text-transform: capitalize;
}

footer {
  padding: 3px;
  color: #ccc;
}

