/*for mobile phone*/
body {
	font: large "宋体", sans-serif;
	color: black;
	background-color: #fcfcfc;
	margin: 0px;
}

header {
  padding: 0 3%;
}

#main {
  padding: 0px 3%;
}

#main h1 {
  font-size: 2em;
  text-transform: capitalize;
  font-weight: normal;
}

#main time {
  color: gray;
  font-style: italic;
}
footer {
  padding: 20px 3%;
  background-color: #eef;
  border-top: 1px solid #ccd;
}

