<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!--link to mobile stylesheet-->
		<link rel="stylesheet" href="/css/mobile.css" media="screen and (max-device-width: 700px)">
		<!--link to the stylesheet for links-->
		<link rel="stylesheet" href="/css/link.css">
	</head>
	<body>
	  <header>
	    <h1>Lei Guoyang</h1>
	  </header>
	  
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
		
		<section class="main">
		
		{{ content }}
		
		</section>
		
		<footer>
			&copy; leiguoyang
		</footer>
	</body>
</html>
