<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<link rel="Shortcut Icon" href="/images/favicon.ico" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/main.css">
		<!--link to personal computer-->
		<link rel="stylesheet" href="/css/pc.css" media="screen and (min-width: 701px)">
		<!--link to mobile device-->
		<link rel="stylesheet" href="/css/mobile.css" media="screen and (max-width: 700px)">
	</head>
	<body>
		<header>
			<h1>Lei Guoyang</h1>
		</header>
		
		<nav>
			<a href="/">Home</a>
			<a href="/blog.html">Blog</a>
			<a href="/about.html">About</a>
		</nav>
		
		<section id="main">
		
		{{ content }}
		
		</section>
		
		<footer>
			&copy; 2017 Lei Guoyang<br>
			E-mail: <a href="mailto:guoyangl@126.com">guoyangl@126.com</a>
		</footer>
	</body>
</html>
