<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/main.css">
		<!--link to personal computer-->
		<!--<link rel="stylesheet" href="/css/pc.css" media="screen and (min-width: 801px)">-->
		<!--link to the stylesheet for links-->
		<link rel="stylesheet" href="/css/link.css">
	</head>
	<body>
		<header>
			<h1>Lei Guoyang</h1>
		</header>
		
		<nav>
			<a href="/">Home</a>
			<a href="/blog.html">Blog</a>
			<a href="/about.html">About</a>
		</nav>
		
		<section id="main">
		
		{{ content }}
		
		</section>
		
		<footer>
			&copy; leiguoyang
		</footer>
	</body>
</html>